<div class="container">
  <div class="row content table">
<table class="table">
            <thead>
<tbody>
  <td><input type="text"  ng-model="cancellationId" /></td>
  <td><button ng-click="getcancel()" class="btn btn-primary">cancel</button><td>

              <tr>
                <td>{{bking.ID}}</td>
                <td>   {{bking.mName}}</td>
                <td>  {{bking.tName}}</td>
                 <td>{{bking.tLoc}}</td>
                 <td>{{bking.sTime}}</td>
                 <td>{{bking.noofTickets}}</td>
                  <td>{{bking.amountPaid}}</td>
                </tr>
              </thead>

</tbody>


<div>
  {{ cancell }}
</div>

<p>

<a href="#/booking">booking!!</a>
