
<div class="container">
  <div class="row content table">
<table class="table">
            <thead>
						<tr>
									<th>Id</th>
                    <th>MovieName</th>
                    <th>ThreaterName</th>
                    <th>Location</th>
                    <th>Showtime</th>
                    <th>Number of seats</th>
                </tr>
            </thead>
            <tbody>
							<tr>

<td>{{bking.ID}}</td>
<td>   {{bking.mName}}</td>
<td>  {{bking.tName}}</td>
 <td>{{bking.tLoc}}</td>
 <td>{{bking.sTime}}</td>
 <td>{{bking.noofTickets}}</td>
  <td>{{bking.amountPaid}}</td>
</div>
<td><button ng-click="confirm()"  class="btn btn-primary">Confirm</button><td>
   </tr>
 	</tbody>
 </table>
 </div>
 </div>
