<header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators " style="display:none">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill banner">
                  <img src="../resources/images/banner1.jpg"/>
                </div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill banner">
                  <img src="../resources/images/namadhu-- banner.jpg"/>
                </div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill banner">
                  <img src="../resources/images/5.png"/>
                </div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
    <div class="search">
            <div class="col-md-10 col-md-offset-1" style="    margin-top: -18%;">
              <div class="form-section">
                    <form role="form">
                      <div class="col-md-2"></div>
                      <div class="col-md-6">
                     <div class="form-group">
                          <input type="movie-search" class="form-control" id="search" placeholder="Search Movie">
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button type="submit" class="btn btn-default btn-primary">Search</button>
                      </div>
                      </form>
                      </div></div>
            </div>
</div>
<!-- movie heading -->

<!-- end movie heading -->
<div class="row content ">
<div>
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8">
    <div>
    <figure class="highlight"><p class="lead" style="margin-bottom: 2px;">Movies Now</p></figure>
</div>
       <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Thirunaal</div>
        <div class="panel-body"><img src="../resources/images/thirunaal-img.jpeg"  class="img-responsive" style="width:250px;height:250px" alt="Image">
        <div>
        <p class="lead para">Thirunaal - Tamil</p>
        </div>
        <span class="badge cmt">Crime</span><span class="badge cmt">Romance</span><span class="badge cmt">Action</span>
        </div>
        <div class="panel-footer"> <button type="button"  class="btn btn-primary btn-lg btn-block">Book Now</button>
      
    </div></div>
      </div>
    
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Wagah</div>
        <div class="panel-body"><img src="../resources/images/wagah-img1.jpg"  class="img-responsive" style="width:250px;height:250px" alt="Image">
        <div>
        <p class="lead para">Wagah - Tamil</p>
        </div>
        <span class="badge cmt">Drama</span><span class="badge cmt">Romance</span><span class="badge cmt">Action</span>
        </div>
        <div class="panel-footer"> <button type="button" class="btn btn-primary btn-lg btn-block">Book Now</button></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Joker</div>
        <div class="panel-body"><img src="../resources/images/joker -img.jpg"  class="img-responsive" style="width:250px;height:250px" alt="Image">
        <div>
        <p class="lead para">Joker - Tamil</p>
        </div>
        <span class="badge cmt">Comedy</span><span class="badge cmt">Satire</span>
        </div>
        <div class="panel-footer"> <button type="button" class="btn btn-primary btn-lg btn-block">Book Now</button></div>
      </div>
    </div>
    </div>
    <div class="col-sm-2 sidenav">
    </div>
</div>
<div class="bs-callout bs-callout-info" id="callout-navs-tabs-plugin"><img src="https://tpc.googlesyndication.com/simgad/12891433667894707821" border="0" width="976" height="110" style="margin-left: 231px;margin-bottom: 15px;"></div>
</div>