    <link rel="stylesheet" type="text/css" href="../css/style.css">
<style>
.panel-default > .panel-footer {
    color: #fff;
    background-color: #47c8ed;
    display:none;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
.panel-default{
    text-align:center;
    cursor:pointer;
    font-family: 'Raleway',sans-serif;
}
.panel-default > .panel-footer {
    color: #fff;
    background-color: #47c8ed;
    display:none;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
.panel-default i{
    font-size: 5em;
    }
    .img-movie
    {
      width:250px;
      height:250px;
    }
  /*.movie-panel
  {
    margin-left: -11%;
  }*/
</style>
<div class="row content "><div>
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8">
    <div>
    <figure class="highlight"><p class="lead" style="margin-bottom: 2px;">Movies</p></figure>
</div>
<div class="container">
    <div class="row">
<div class="col-sm-4 ">
            <div class="panel panel-default">
            <div class="panel-heading">Thirunaal</div>
                <div class="panel-body ">
                   <img class="img-movie" src="../resources/images/thirunaal-img.jpeg"/>
                </div>
                <div class="panel-footer"><a href="#/booking">Book Now</a></div>
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="panel panel-default">
            <div class="panel-heading">Tamilselvanum Thaniyar Anjalum</div>
                <div class="panel-body ">
                   <img class="img-movie" src="../resources/images/tamilselvanum-img.jpg"/>
                </div>
                <div class="panel-footer"><a href="#/booking">Book Now</a></div>
            </div>
        </div>
         <div class="col-sm-4 ">
            <div class="panel panel-default">
            <div class="panel-heading">Wagah</div>
                <div class="panel-body ">
                   <img class="img-movie" src="../resources/images/wagah-img.jpg"/>
                </div>
                <div class="panel-footer"><a href="#/booking">Book Now</a></div>
            </div>
        </div>
        </div>
          <div class="row movie-panel">
<div class="col-sm-4 ">
            <div class="panel panel-default">
            <div class="panel-heading">Namadhu</div>
                <div class="panel-body ">
                   <img class="img-movie" src="../resources/images/namadhu-- banner.jpg"/>
                </div>
                <div class="panel-footer"><a href="#/booking">Book Now</a></div>
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="panel panel-default">
            <div class="panel-heading">Joker</div>
                <div class="panel-body ">
                   <img class="img-movie" src="../resources/images/joker-250.jpg"/>
                </div>
                <div class="panel-footer"><a href="#/booking">Book Now</a></div>
            </div>
        </div>
         <div class="col-sm-4 ">
            <div class="panel panel-default">
            <div class="panel-heading">Thodari</div>
                <div class="panel-body ">
                   <img class="img-movie" src="../resources/images/thodari250.jpg"/>
                </div>
                <div class="panel-footer"><a href="#/booking">Book Now</a></div>
            </div>
        </div>
        </div>
        </div>
      </div>

<div class="col-sm-2 sidenav">
</div>
</div>
