<div class="row">
    <div class="col-md-12">
    <div class="static-header-img">
  <img class="banner-img" style="width:1250px;height:500px;" src="../resources/images/5.png"/>
  </div>
</div>

<div>
<figure class="highlight1"><p class="lead" style="margin-bottom: 2px;">Trailers</p></figure>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 thumbnail">
<h5>Wagah</h5>
 <button type="button" class="btn btn-info btn-lg img-trailer"  style="background: url(../resources/images/wagah-250.jpg);" data-toggle="modal" data-target="#myModal"></button>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Wagah Trailer</h4>
        </div>
        <div class="modal-body">
         <iframe  class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/jJ3GqF3POsM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      
    </div>
  </div>
        </div>
        <div class="col-md-3 thumbnail">
<h5>Joker</h5>
 <button type="button" class="btn btn-info btn-lg img-trailer"  style="background: url(../resources/images/joker-250.jpg);" data-toggle="modal" data-target="#myModal"></button>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Joker Trailer</h4>
        </div>
        <div class="modal-body">
         <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/4xr59w5r6Hw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      
    </div>
  </div>
  </div>
        <div class="col-md-3 thumbnail">
<h5>Thirunaal</h5>
 <button type="button" class="btn btn-info btn-lg img-trailer"  style="background: url(../resources/images/thirunaal250.jpg);" data-toggle="modal" data-target="#myModal"></button>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thirunaal Trailer</h4>
        </div>
        <div class="modal-body">
         <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/jJ3GqF3POsM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      
    </div>  
        </div>
                                 <div class="col-md-3 thumbnail">
<h5>Thodari</h5>
 <button type="button" class="btn btn-info btn-lg img-trailer"  style="background: url(../resources/images/thodari250.jpg);" data-toggle="modal" data-target="#myModal"></button>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thodari Trailer</h4>
        </div>
        <div class="modal-body">
         <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Gs3widGw6Tw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      
    </div>
  </div>
      
    </div>
  </div>
</div>